@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

:root{
    --back:#023e93b0;
}
footer {
  background: black;
  width: 100%;
}

h6{
    color:white;
}

.contain {
  width: 100%;
  padding-right: 3%;
  padding-left: 3%;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

/* MAP */

.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 297px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 297px;
}

.gmap_iframe {
  height: 297px !important;
}

/* Part1 */

.f-links {
  display: inline-flex;
  margin-top: 3%;
  width: 100%;
}

.column {
  width: 16%;
}

h5 {
  color: rgb(91, 91, 247);
}

.footer p {
  color: white;
  margin: 8px auto;
  font-size: 12px;
}
.f-links a,
.f-links li {
  color: white;
  font-size: 12px;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  padding-bottom: 2px;
  list-style: none;
}

li {
  margin: 8px auto;
}

/* Part 2 */

.copyright {
  padding: 15px 0;
  border: 1px solid #222;
  border-right: 0;
  border-left: 0;
  margin: 30px 0;
}

.copyright .column {
  width: 20%;
}

.copyright li {
  font-size: 12px;
}

.copyright ul {
  display: flex;
}

.copy a {
  color: white;
  padding: 5px;
}

/* Part 3 */

.abt-us .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column-c {
  display: flex;
  justify-content: space-between;
  width: 28%;
}

.abt-us img {
  height: 35%;
  width: 130%;
}

.card {
  position: relative;
  height: 82%;
  width: 32%;
}

.card-i {
  height: 90%;
}

.row-a {
  display: flex;
}

/* Slider */

.p-logo {
  width: 98vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  width: 99vw;
  height: 100%;
  display: flex;
  position: relative;
  background: white;
  overflow: hidden;
}

.slide {
  height: 100%;
  display: flex;
  align-items: center;
  animation: slideshow 15s linear infinite;
}

.slide img {
  height: 70px;
  padding: 0 30px 0 30px;
}

@keyframes slideshow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slider::before,
.slider::after {
  width: 4%;
  height: 10vh;
  position: absolute;
  content: "";
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}
.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

/* Testimonial */

/* Heading */

.testimonial .contain::before {
  background: url("https://img.freepik.com/free-photo/close-up-students-indoors_23-2148950535.jpg?size=626&ext=jpg")
    no-repeat center center/cover;
  content: "";
  background-attachment: fixed;
  position: absolute;
  opacity: 0.4;
  left: 0px;
  width: 100%;
  height:150vh;
  z-index: -1;
}

.testimonial {
    height:auto;
    background-color: var(--back);
    padding: 0% 3%;
}

.testimonial-bot{
  bottom:0;
}
.testimonial h5{
    color:white;
    font-weight: 800;
}

.testimonial small{
    color:white;
    font-weight: 800;
}
.testimonial .contain{
    height:auto;
}

.testimonial .row{
    display: grid;
    grid-template-columns: 40% 60%;
    height: auto;
}

 .testimonial .column-t{
    padding: 2%;
}

.testimonial h2{
    display:flex;
    margin-top:10%;
    color: white;
    font-size: 31px;
}

 .btn-t{
    margin: 10% 0%;
    padding:3%;
    width:45%;
    border-color: #FFC300 ;
    box-shadow: 0 3px 0 #cd8c07;
    background: #FFC300 ;
    color:white;
    border-radius: 10px;
    border: 1px solid transparent;

}

 .btn-t:hover{
    background: rgb(144, 138, 235);
    box-shadow: 0 3px 0 #6c62eb;
    transition: 0.3s ease-in-out;
}

/* Video */

.vid-test{
    display: grid;
    grid-template-rows: 53%;
    grid-template-columns: 50% 50%;
    padding-bottom: 10%;
}

.vc {
    position: relative;
    height: 16rem;
    width: 80%;
    border-radius: 10px;
    
}

.img-1{
    height:100%;
    background: url("https://images.pexels.com/photos/5053732/pexels-photo-5053732.jpeg?auto=compress&cs=tinysrgb&w=600")
    no-repeat center center/cover;
    border-radius: 10px;
    background-color: rgb(72 69 69 / 49%);
    background-blend-mode: overlay;
}


.img-2{
    background:url("https://images.pexels.com/photos/1329494/pexels-photo-1329494.jpeg?auto=compress&cs=tinysrgb&w=600")
                    no-repeat center center/cover;
    border-radius: 10px;
    height: 100%;
    background-color: rgb(72 69 69 / 49%);
    background-blend-mode: overlay;
}

.img-3{
    background:url("https://images.pexels.com/photos/3184646/pexels-photo-3184646.jpeg?auto=compress&cs=tinysrgb&w=600")
                    no-repeat center center/cover;
    border-radius: 10px;
    height: 100%;
    background-color: rgb(72 69 69 / 49%);
    background-blend-mode: overlay;
}

.img-4{
    background:url("https://images.pexels.com/photos/1699419/pexels-photo-1699419.jpeg?auto=compress&cs=tinysrgb&w=600")
                    no-repeat center center/cover;
    border-radius: 10px;
    height: 100%;
    background-color: rgb(72 69 69 / 49%);
    background-blend-mode: overlay;
    
}

.testimonial img{
    display: block;
}

.v-f{
    position: absolute;
    bottom:8%;
    left:6%;

}

/* Text */
.column-t2{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap:1rem;
    padding: 10% 0%;
}


.text-t{
    background-color: #100975a1;
    border-radius: 10px;
    border:1px solid rgba(255, 255, 255, 0.472);
    box-shadow: 8px 4px 10px rgba(77, 76, 76, 0.718);
}

.tt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:white;
    padding: 7%;
    height:100%;
}

.tt .img{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    bottom: 0;
}

.tt .img img{
    border-radius: 50%;
    height: 45px;
    padding: 2px;
}

/* Positive Relations */

.positive-rel ::before {
    background: url("https://images.pexels.com/photos/1454360/pexels-photo-1454360.jpeg?auto=compress&cs=tinysrgb&w=600")
    no-repeat center center/cover;
    content: "";
    background-attachment: fixed;
    position: absolute;
    opacity: 0.1;
    top:0;
    left:0;
    width: 100%;
    height:100% ;
    z-index: -1;
  }

.positive-rel{
    position: relative;
    height: auto;
    color:white;
    height:140vh;
}

.positive-rel h5{
    color: white;
    padding:4% 0%;
}

.positive-rel .contain{
        background-color: var(--back);
        height:100%;
}

.heading{
    display: flex;
    padding: 4% 0%;  
    justify-content: center;

}

.col-thumb{
    width:20%;
    padding: 3% 2%;
}

/* News */

.news{
  color: white;
  position: relative;
  margin-top: -70vh;
}

.news .row{
  margin: 5% 0%;
  height: 100vh;
}

.p{
  text-align: center;
}

.col-l{
  display: flex;
  position: relative;
  width:60vw;
  border-radius: 10px;
  height: 46vh;
}

.col-s{
  width: 30vw;
  border-radius: 10px;
  height: 46vh;
  background: #2f26a6fc;
}

.col-s:hover{
  background:url("https://images.hindustantimes.com/bangla/img/2022/11/30/600x338/Pic_2_1669821806079_1669821820626_1669821820626.jpeg")
  no-repeat center center/cover;
}

.col-s:nth-child(2):hover{
  background:url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.regencyeducation.co.uk%2Fwp-content%2Fuploads%2F2020%2F01%2FStudent-uni-boy-e1579540507579.jpg&f=1&nofb=1&ipt=ba533c03e2997e0bbb1055af8d31f168011e56c55eee8289b6f2adcc606dc5f6&ipo=images")
  no-repeat center center/cover;
}
.col-l .col-1{
  height: 100%;
  width:50%;
  background:rgb(244, 241, 241);
  border-radius: 10px 0px 0px 10px ;
}

.col-l .col-2{
  height: 100%;
  width:50%;
  background: url("https://cdn.pixabay.com/photo/2017/01/14/10/56/people-1979261_640.jpg")
  no-repeat center center/cover;
  border-radius: 0px 10px 10px 0px ;
}

.col-l .col-3{
  height: 100%;
  width:50%;
  background: url("https://cdn.pixabay.com/photo/2016/03/22/12/25/donald-trump-john-1272775_640.jpg")
  no-repeat center center/cover;
  border-radius: 0px 10px 10px 0px ;
}

.head-text{
  display: flex;
  position: relative;
  flex-direction: column;
  color:black;
  padding:10% 20% 10% 10%;
  height: 100%;
}

.head-text small{
  position:absolute;
  bottom: 0;
  padding-bottom: 2%;
}

.head-text .btn-t{
  margin:5% 0%;
}

.col-s .head-text{
  color:white;
}

/* Navbar */

.items-nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
  padding: 0 3rem 0 3rem;
  align-items: center;

}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.items-nav img{
  height: 5rem;
  mix-blend-mode: multiply;
}

.apply img{
  height: 4rem;
  margin-bottom: 0.5rem;
}

/* Slider */

.imgsl{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.img-slider{
    height: 90vh;
    width: 92vw;
    background-image: url("https://www.jiscollege.ac.in/assets/images/slider/1.jpg");
    background-size: 100% 100%;
    animation: changeImg 10s linear infinite;
    animation-delay:2s;
}

@keyframes changeImg {
  0%{
    background-image: url("https://www.jiscollege.ac.in/assets/images/slider/1.jpg");
  }
  25%{
    background-image: url("https://www.jiscollege.ac.in/assets/images/slider/2.jpg");

  }
  50%{
    background-image: url("https://www.jiscollege.ac.in/assets/images/slider/3.jpg");

  }
  75%{
    background-image: url("https://www.jiscollege.ac.in/assets/images/slider/4.jpg");

  }
  100%{
    background-image: url("https://www.jiscollege.ac.in/assets/images/slider/1.jpg");

  }
}

/* Responsive */

@media (max-width:450px) {
  html,
  body{
      width: 100%;
      overflow-x: hidden;
  }

  .c-logo{
    width:auto;
  }

  .part2{
    width: auto;
  }

  .items-nav .c-logo img {
    height: 3rem;
}
.items-nav .part2 img {
  height: 1rem;
}
.uni-logo{
  display: none;
}

.img-slider {
    height: 18rem;
    width: 100%;
}

.col-thumb {
  text-align: center;
  width: 100%;
}

.positive-rel ::before{
  height: 70rem;
}

.news{
  margin-top: 0rem;
}

.positive-rel .contain {
  height: 70rem;
}

.heading {
  text-align: center;
}

 .news .row {
  display: block;
}


.col-l {
  display: flex;
  width: 92vw;
  height: 40vh;
  padding: 3% 0%;
}

.row h2{
  font-size:1rem;
}

.head-text .btn-t {
  width: 6rem;
  height: 2rem;
  margin: 17% 0%;
}

.col-s {
  margin: 3% 8%;
  display: flex;
  width: 80vw;
  height: 40vh;
}

.col-s .head-text:hover {
  color: #000;
  font-weight: 900;
}

.testimonial {
  margin-top: 24rem;
}

.testimonial .row {
  display: block;
  height: 100%;
}

.column-c {
  display: flex;
  width: 92%;
}

.abt-us img {
  height: 91%;
  width: 124%;
}

.abt h5 {
    font-size: 1rem;
}

.abt{
text-align: center;
}

.copyright .row{
  width: fit-content;
}

.f-links .column{
    width: 90%;
}

.f-links .row{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.abt-us .contain .column-c:nth-child(3){
  justify-content: center;
}
}
